<% provide :title, "HELP" %>
<h1><%= t "navbar.help" %></h1>
<p>
  <%= t "help_message" %>
  <%= link_to t("tutorial_link"), Settings.defaults.tutorial_url %>.
  <%= t "rails_book" %>
  <%= link_to t("link_book"), Settings.defaults.book_url, style: "font-style: italic;" %>.
</p>
